
.row {
  margin-left: 20px;
  color: white;
}

.rowTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.rowPosters {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px 0;
  gap: 10px;
  scroll-behavior: smooth;
}

/* Hide scrollbar */
.rowPosters::-webkit-scrollbar {
  display: none;
}

.rowPoster {
  width: 160px;
  object-fit: contain;
  transition: transform 0.2s;
  border-radius: 5px;
  cursor: pointer;
}

.rowPoster:hover {
  transform: scale(1.08);
}