.banner {
  height: 70vh;
  color: white;
  background-size: cover;
  background-position: center;
  display: flex;
  margin-top: 30px;
  align-items: flex-end;
  padding: 140px;
}
.content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}
